<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.artifex.mupdf">

    <!-- 写日志到SD卡中“MuPDFLog”文件夹中，日志打印详见Logger类，如果不想有日志文件，可以不需要此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".viewer.DocumentActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/vnd.ms-xpsdocument" />
                <data android:mimeType="application/oxps" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="text/xml" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.xps" />
                <data android:pathPattern=".*\\.oxps" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.fb2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewer.OutlineActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>
</manifest>
